:root{
    --black:#000000;
    --Neon-Carrot:#FF9C41;
    --Wild-Sand:#F4F4F4;
    --Oxford-Blue:#374151;
    --Beauty-Bush:#EBC3B9;
    --font-Mischka:#CFD2DC;
    --Catskill-White:#f4f6fa;
    --font-Zeus:#15110E;
    --Whisper:#F4F4F9;
}