:root{
    --black:#000000;
    --Neon-Carrot:#FF9C41;
    --Wild-Sand:#F4F4F4;
    --Oxford-Blue:#374151;
    --Beauty-Bush:#EBC3B9;
    --font-Mischka:#CFD2DC;
    --Catskill-White:#f4f6fa;
    --font-Zeus:#15110E;
    --Whisper:#F4F4F9;
    --Thunderbird:#BE3717;
    --white:#ffffff;
    --silver:#C6C6C6;
    --ebony:#111928;
    --cloud:#B1AFAD;
    --gallary:#f8f8f8;
    --Porcelain:#f7f8f8;
    --Alto:#d1cdcd;
    --Tapa:#73706E;
    --Waterloo:#6F6C90;
    --BeautyBush:#EBC3B9;
    --Mischka:#D6D6DB;
    --CadetBlue:#A0A5BA;
    --Tuscany:#C34629;
    --Cashmere:#E5AFA2;
    --White:#ffffff;
}