:root{
    --black:#000000;
    --Neon-Carrot:#FF9C41;
    --Wild-Sand:#F4F4F4;
    --Oxford-Blue:#374151;
    --Beauty-Bush:#EBC3B9;
    --font-Mischka:#CFD2DC;
    --Catskill-White:#f4f6fa;
    --font-Zeus:#15110E;
    --lightblack:#1A1A1A;
    --font-zeusA:rgba(21, 17, 14,0.6);
    --Whisper:#F4F4F9;
    --Thunderbird:#BE3717;
    --white:#ffffff;
    --silver:#C6C6C6;
    --ebony:#111928;
    --cloud:#B1AFAD;
    --gallary:#f8f8f8;
    --Porcelain:#e9ecec;
    --Alto:#d1cdcd;
    --Tapa:#73706E;
    --Waterloo:#6F6C90;
    --BeautyBush:#EBC3B9;
    --Mischka:#D6D6DB;
    --CadetBlue:#A0A5BA;
    --Tuscany:#C34629;
    --Cashmere:#E5AFA2;
    --White:#ffffff;
    --headerp:#4B5563;
    --Nobel:#B9B7B6;
    --testi:#6F6C90;
    --profileBg:#f3dad4;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}