    :root{
        --black:#000000;
        --Neon-Carrot:#FF9C41;
        --Wild-Sand:#F4F4F4;
        --Oxford-Blue:#374151;
        --Catskill-White:#f4f6fa;
        --font-Zeus:#15110E;
        --Thunderbird:#BE3717;
        --White:#ffFfff;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Urbanist ;
}

/* styling nav-bar */
.primary-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7%;
    padding: 20px 0;
}
.logo{
    max-width: 20%;
}
.logo img{
    width: 100%;
}
nav > ul{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center; 
    color: var(--font-Zeus);
}
nav > ul li{
    list-style: none;
}
nav > ul li a{
    text-decoration: none;
    color: var(--font-Zeus);
    font: 14px;

}
li a> span img{
    display: none;
}
.sr-only{
    visibility: hidden;
}
.mobile-nav-toggle{
    display: none;
}
body{
    overflow-x: hidden;
}
.downloadbtn a{
    text-decoration: none;
    color:#ffffff;
    background-color: var(--Thunderbird);
    padding: .7em .9em;
    border-radius: 20px;
    font-weight:bold ;
}
.primary-navigation li a:active{
    color: var(--Thunderbird);
}
.primary-navigation li a:hover{
    color: var(--Thunderbird);
}
@media (max-width:40em) {
    .logo{
        max-width: 30%;
    }
    .primary-navigation{
        position: fixed;
        inset: 10% 0 0 0;
        flex-direction: column;
        background-color:var(--White) ;
        gap: 10px;
        padding: min(7vh, 7rem)1em;
        justify-content:flex-start;
        align-items:flex-start;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    .primary-navigation li{
        width: 100%;
        border-bottom: 2px solid var(--Wild-Sand) ;
        font-size:25px ;
        font-weight: bold;
        padding: 10px 0;
    }
    .downloadbtn{
        display: none;
    }
    li a> span img{
        display: block;
    }
    .primary-navigation li a{
        display: flex;
        justify-content: space-between;
        justify-items: center;
    }
    
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image:url(../assets/img/menuIcon.png);
        background-repeat: no-repeat;
        border: 0;
        width: 1.5rem;
        aspect-ratio:1 ;
        top: 1.5rem;
        right: 1.5rem;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../assets/img/close-menu.png);
    }
}
