@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');
.testimonia{
    padding: 20px;
}
.testimonia-img{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.testimonia-img img{
    width: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.testimonia-img .fa-angle-left, .testimonia-img .fa-angle-right, .testimonia-img .fa-play{
    position: absolute;
    top: 50%;
    margin: 0 5px;

}
.testimonia-img .fa-angle-left{
    left: 0;
}
.testimonia-img .fa-angle-right{
    right:0;
}
.testimonia-img .fa-angle-left, .testimonia-img .fa-angle-right{
    padding: 5px 9px;
    border-radius: 50%;
    z-index: 9999;
}
.testimonia-img .fa-play{
    display: none;
    padding: 8px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.testimonia-img .fa-angle-left, .testimonia-img .fa-angle-right, .testimonia-img .fa-play{
    background-color: var(--Thunderbird);
    color: var(--white);
}
.testimonia-img .fa-angle-left:hover{ 
    background-color: #ffffff;
    color: lightgray;
    cursor: pointer;
}
.testimonia-img .fa-angle-right:hover{ 
    background-color: #ffffff;
    color: lightgray;
    cursor: pointer;
}
/* .kfc-logo{
    width: 34%;
} */
.kfc-logo img{
    width: 130px;
}
.test-p-pic{
    width: 20%;
    border-radius: 50%;
    background-color:var(--Wild-Sand);
    margin-right: 10px;
}
.test-p-pic img{
    max-width: 100%;
}
.test-profile{
    display: flex;
    align-items: center;
}
.test-p-text h2{
    margin-bottom: 7px;
}
.testimonia-txt p{
    width: 100%;
    line-height: 25px;
    margin-bottom: 25px;
}
.test-p-text p{
    font-family: 'Caveat', cursive;
}
.testimonia-img .fa-play{
    display: none;
}
@media (min-width:720px){
    .testimonia{
        padding: 0px;
    }
    .kfc-logo img{
        width: 130px;
    }
    .test-p-pic img{
        width: 100%;
    }

    .testimonia-container{
        display: flex;
        gap: 30px;
        margin: 6% 5%;
    }
    .testimonia-img .fa-angle-left{
        top: 45%;
        font-size: 30px;
        padding: 5px 12px;
    }
    .testimonia-img .fa-angle-right{
        right:-150%;
        top: 45%;
        font-size: 30px;
        padding: 5px 12px;
    }
    /* testimonia-txt */
    .testimonia-txt{
        position: relative;
        top: 0px;
    }
    .testimonia-img{
        width: 100%;
    }
    .testimonia-img .fa-play{
        display: block;
        left: 44%;
        top: 45%;
        font-size: 30px;
        padding: 8px 11px 8px 13px;
    }
    .testimonia-img .fa-play:hover{
        color: var(--Thunderbird);
        background-color: var(--white);
    }
    .testimonia-txt p{
        width: 85%;
        font-size: 14px;
        margin-bottom: 10px;
        color: var(--cloud);
    }
    .test-p-pic{
        width: 19%;
    }
    .test-p-text h2{
        font-size: 17px;
        margin-bottom: 2px;
    }
    .test-p-text p{
        font-size: 15;
        width: 100%;
    }
}
@media (min-width:820px){
    .testimonia-img .fa-angle-right{
        right:-27rem;
    }
}
@media (min-width:1020px){
    .testimonia-container{
        display: flex;
        gap: 30px;
        margin: 6% 5%;
    }
    .testimonia-img .fa-angle-left{
        top: 45%;
    }
    .testimonia-img .fa-angle-right{
        right:-35rem;
        top: 45%;
    }
    /* testimonia-txt */
    .testimonia-txt{
        position: relative;
        top:10px;
    }
    .testimonia-img{
        width: 100%;
    }
    .testimonia-img .fa-play{
        display: block;
        left: 44%;
        top: 45%;
    }
    .testimonia-txt p{
        width: 85%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .test-p-pic{
        width: 19%;
    }
    .test-p-text h2{
        font-size: 17px;
        margin-bottom: 2px;
    }
    .test-p-text p{
        font-size: 17px;
        width: 100%;
    }
}
@media (min-width:1220px){
    .testimonia-img .fa-angle-right{
        right:-35rem;
        top: 45%;
    }
    
}